
        <div *ngIf="attackPattern">
                <div class="col-md-12">
                        <div class="row" *ngIf="mitreId == undefined || mitreId == ''">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                                <mat-checkbox class="identity-margin" (change)="addRemoveId()">Assign ID?</mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                                <mat-checkbox class="identity-margin" [(ngModel)]="deprecated">Deprecate?</mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                    <mat-checkbox class="identity-margin" [(ngModel)]="revoked">Revoke?</mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="revoked" class="row">
                                    <div class="col-md-6">
                                        <mat-form-field style="width: auto;">
                                            <mat-select name="attackPatterns" [(ngModel)]="revokedBy" placeholder="Revoked by:" class="full-width">
                                              <mat-option *ngFor="let currTech of attackPatterns" [value]="currTech">
                                                <span>{{ currTech.attributes.name }}</span>
                                              </mat-option>
                                            </mat-select>
                                        </mat-form-field><br>
                                    </div>
                                  </div>
                            <div class="row" *ngIf="addId || (mitreId !== undefined && mitreId !== '')">
                                    <div class="col-md-12">
                                        <mat-input-container class="full-width">
                                            <input matInput placeholder="ID" [(ngModel)]="id">
                                        </mat-input-container>
                                    </div>
                                    <div class="button-row">
                                        <a class="" mat-raised-button [ngxClipboard]="copyId"> Copy</a>
                                        <input class="" size="100" #copyId value="{{idLink}}{{id}}}}">
                                    </div>
                                    <br>
                                </div>

        <div class="row" *ngIf=addId>
            <div class="col-md-12">
                <mat-input-container class="full-width">
                    <input matInput placeholder="ID" [(ngModel)]="id">
                </mat-input-container>
            </div>
            <div class="button-row">
                <a class="" mat-raised-button [ngxClipboard]="copyId"> Copy</a>
                <input class="" size="100" #copyId value="{{idLink}}{{id}}}}">
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-input-container class="full-width">
                    <input matInput placeholder="Name" required [(ngModel)]="attackPattern.attributes.name">
                </mat-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-input-container class="full-width">
                    <textarea matInput required [(ngModel)]="attackPattern.attributes.description"  placeholder="Description"></textarea>
                </mat-input-container>
            </div>
        </div>
        <kill-chain-phases [(model)]="attackPattern" [(tactics)]="tactics" (onTacticAdd)="tacticChange($event)" [(tacticBools)]="tacticBools"></kill-chain-phases>
        <br><div class="row">
                <div class="col-md-12">
                        <h4>Mitigations</h4>
                        <div class="button-row">
                                <a class=" " mat-raised-button (click)="createNewMitigation()"><i class="material-icons">add</i> CREATE NEW</a>
                          </div>
                          <mat-card *ngFor="let mitigation of newMitigations; let j = index trackBy:trackByFunction" style="margin: 10px 0px;">
                                <mat-card-content>
                                    <div class="row">
                                        <div class="col-md-6">
                                                <mat-input-container class="full-width">
                                                        <input matInput placeholder="New Mitigation" [(ngModel)]="newMitigations[j].name" >
                                                    </mat-input-container>
                                        </div>
                                        <div class="col-md-12">
                                                <mat-input-container class="full-width">
                                                    <textarea matInput matTextareaAutosize placeholder="Description" [(ngModel)]="newMitigations[j].description" value={{newMitigations[j].description}}></textarea>
                                                </mat-input-container>
                                        </div>
                                    </div>
                                </mat-card-content>
                                <mat-card-actions>
                                        <div class="button-row">
                                            <a class="" mat-raised-button (click)="removeNewMitigation(mitigation.name)"><i class="material-icons">delete</i> REMOVE</a>
                                        </div>
                                </mat-card-actions>
                        </mat-card>
                        <br>
                        <div class="button-row">
                                <a class=" " mat-raised-button (click)="addMitigation()"><i class="material-icons">add</i> ADD</a>
                         </div>
                        <mat-card *ngFor="let mitigation of mitigations; let i = index trackBy:trackByFunction" style="margin: 10px 0px;">
                                <mat-card-content>
                                    <div class="row">
                                        <div class="col-md-6">
                                        <mat-form-field style="width: auto;">
                                            <mat-select name="test" [(ngModel)]="mitigations[i].name" placeholder="Mitigation" (ngModelChange)="checkAddedMitigations(i)" class="full-width">
                                                <mat-option *ngFor="let currMitigation of allMitStatic" [value]="currMitigation.attributes.name">
                                                    <span>{{ currMitigation.attributes.name }}</span>
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field><br>
                                        </div>
                                        <div class="col-md-12">
                                                <mat-input-container class="full-width">
                                                    <textarea matInput matTextareaAutosize placeholder="Description" [(ngModel)]="mitigations[i].description" value={{mitigations[i].description}}></textarea>
                                                </mat-input-container>
                                        </div>
                                    </div>
                                </mat-card-content>
                                <mat-card-actions>
                                        <div class="button-row">
                                            <a class="" mat-raised-button (click)="removeMitigation(mitigation.name)"><i class="material-icons">delete</i> REMOVE</a>
                                        </div>
                                </mat-card-actions>
                        </mat-card>
                </div>
    </div>
        <br><div class="row">
            <div class="col-md-12">
              <h4>Platforms
                <span style="color:#FE6131">*</span></h4>
                <div class="row">
                    <div class="col-md-4" *ngFor="let platform of platforms">
                            <mat-checkbox class="identity-margin" (change)="addRemovePlatform(platform.name)" [(ngModel)]="platform.val">{{platform.name}}</mat-checkbox>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row">
                <div class="col-md-12">
                  <h4>Tactic Types
                    <span style="color:#FE6131">*</span></h4>
                    <div class="row">
                        <div class="col-md-4" *ngFor="let tacticType of tacticTypes">
                                <mat-checkbox class="identity-margin" (change)="addRemoveTacticType(tacticType.name)" [(ngModel)]="tacticType.val">{{tacticType.name}}</mat-checkbox>
                        </div>
                    </div>
                </div>
            </div><br>
        <div class="row">
            <div class="col-md-12">
                <h4>MTC-ID</h4>
                      <div class="button-row">
                            <a class=" " mat-raised-button (click)="addMtcId()"><i class="material-icons">add</i> ADD</a>
                      </div>
                  </div>
                </div>
                 <div class="row">
                    <div class="col-md-12">
                             <mat-card *ngFor="let category of mtc_ids; let i = index trackBy:trackByFunction" style="margin: 10px 0px;">
                               <mat-card-content>
                                   <div class="row">
                                       <div class="col-md-6">
                                         <mat-form-field style="width: auto;">
                                             <mat-select name="mtc_categories" [(ngModel)]="mtc_ids[i].category.category" placeholder="Category" class="full-width">
                                               <mat-option *ngFor="let category of mtc_categories" [value]="category.category">
                                                 <span>{{ category.category }}</span>
                                               </mat-option>
                                             </mat-select>
                                         </mat-form-field><br>
                                       </div>
                                   </div>
                                   <div class="row">
                                   <div class="col-md-4">
                                    <mat-input-container class="full-width">
                                        <input matInput type="number" placeholder="Number" [(ngModel)]="mtc_ids[i].val" value={{mtc_ids[i].val}}>
                                    </mat-input-container>
                                    </div>
                                </div>
                               </mat-card-content>
                                    <mat-card-actions>
                                        <div class="button-row">
                                            <a class="" mat-raised-button (click)="removeMtcId(mtc_ids[i])"><i class="material-icons">delete</i> REMOVE</a>
                                        </div>
                                    </mat-card-actions>
                            </mat-card>
                    </div>
        </div><br>
        <div class="row">
                <div class="col-md-12">
                    <h4>Contributors</h4>
                          <div class="button-row">
                                <a class=" " mat-raised-button (click)="addContributor()"><i class="material-icons">add</i> ADD</a>
                          </div>
                      </div>
                    </div>
                     <div class="row">
                        <div class="col-md-12">
                                 <mat-card *ngFor="let contributor of attackPattern.attributes.x_mitre_contributors; let i = index trackBy:trackByFunction" style="margin: 10px 0px;">
                                        <mat-card-content>
                                            <div class="row">
                                              <div class="col-md-6">
                                                <mat-input-container class="full-width">
                                                    <input matInput placeholder="Contributor Name" [(ngModel)]="attackPattern.attributes.x_mitre_contributors[i]" [matAutocomplete]="auto" (ngModelChange)="currContributors = filterOptions(attackPattern.attributes.x_mitre_contributors[i], contributors)">
                                                </mat-input-container>
                                                <mat-autocomplete name="auto" #auto="matAutocomplete" >
                                                <mat-option *ngFor="let contributor of currContributors" [value]="contributor">
                                                    <span>{{ contributor }}</span>
                                                </mat-option>
                                                </mat-autocomplete>
                                              </div>
                                            </div>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <div class="button-row">
                                                <a class="" mat-raised-button (click)="removeContributor(contributor)"><i class="material-icons">delete</i> REMOVE</a>
                                            </div>
                                        </mat-card-actions>
                                </mat-card>
                        </div>
            </div><br>
        <h4>External References</h4>
        <citations [(createNewOnly)]="createNewOnly" (createdNew)="getNewCitation($event)"></citations>
        <external-reference [(model)]="attackPattern" [(citations)]="allCitations"></external-reference>

          <div class="row">
            <div class="col-md-12">
                <div class="button-row pull-right">
                     <button  class="" mat-raised-button (click)="cancelButtonClicked()"><i class="material-icons">keyboard_arrow_left</i> CANCEL</button>
                         <button type="submit"  class=" " mat-raised-button (click)="saveAttackPattern()" [disabled]="!attackPattern.attributes.name || !attackPattern.attributes.description || !attackPattern.attributes.kill_chain_phases || attackPattern.attributes.kill_chain_phases.length < 1 || attackPattern.attributes.x_mitre_platforms.length < 1 || !attackPattern.attributes.x_mitre_tactic_type || attackPattern.attributes.x_mitre_tactic_type.length < 1"><i class="material-icons">save</i> SAVE & CLOSE</button>

                </div>
            </div>
          </div>
        </div>
    </div>
