<br>
<div class="col-md-4">
        <mat-checkbox class="identity-margin" (change)="draftsOnlyToggle()">Show drafts only?</mat-checkbox><br>
</div>
<div class="pull-right">
        <span *ngIf="model" class="right-align"><b>Items: {{ model.length }}</b></span>
</div>
<div class="row" *ngIf="model">
        <div class="col-md-12">
            <div style="margin-top: 1%;">
                <p-dataList [value]="model">
                    <ng-template let-data pTemplate="item">
                        <div class="row list-item-row">
                            <div class="col-lg-9 col-xs-12">
                                <span *ngIf="data.attributes.x_mitre_deprecated || data.attributes.revoked || (!data.hasId && data.attributes.type !== 'x-mitre-matrix')">
                                    <mat-icon style="color:#FE6131" 
                                              class="material-icons"
                                              [matTooltip]="getTooltip(data.attributes)">
                                        warning
                                    </mat-icon>&nbsp;
                                </span>
                                <a *ngIf="!data.hasId && data.attributes.type !== 'x-mitre-matrix'" class="list-item-name"  routerLink="/stix/{{url}}/{{data.id}}" >{{data.attributes.name}}</a>
                                <a *ngIf="data.hasId || data.attributes.type === 'x-mitre-matrix'" class="list-item-name"  routerLink="/stix/{{url}}/{{data.id}}" >
                                    {{data.attributes.name}} - 
                                    {{get_mitre_external_id(data)}}
                                </a>
                                <div class="truncate">
                                    <small [innerHTML]="formatText(data.attributes.description)"></small>
                                </div>

                                <mat-chip-list class="pull-left" *ngIf="showPattern">
                                    <mat-chip selected="true" color="accent">{{data.attributes.pattern}}</mat-chip>
                                </mat-chip-list>

                                <mat-chip-list class="pull-left" *ngIf="showSectors">
                                    <mat-chip selected="true"  color="primary" *ngFor="let sector of data.attributes.sectors">{{sector}}</mat-chip>
                                </mat-chip-list>

                                <mat-chip-list class="pull-left" *ngIf="showKillChainPhases">
                                    <mat-chip selected="true"  color="warn"  *ngFor="let kill_chain_phase of data.attributes.kill_chain_phases">{{kill_chain_phase.phase_name}}</mat-chip>
                                </mat-chip-list>

                                <mat-chip-list class="pull-left" *ngIf="showExternalReferences">
                                  <mat-chip *ngFor="let external_reference of data.attributes.external_references"
                                      selected="true">
                                      <a style="color: white" target="_blank" [attr.href]="external_reference.url" *ngIf="external_reference.url" (click)="visitExtRef(external_reference.url)"> {{external_reference.source_name}}</a>
                                      <span *ngIf="!external_reference.url"> {{external_reference.source_name}}</span>
                                  </mat-chip>
                                </mat-chip-list>
                            </div>
                            <div class="col-lg-3 col-xs-12">
                                    <button color="primary"  mat-button (click)="editButtonClicked(data)"><mat-icon class="mat-24">create</mat-icon></button>
                                    <button color="warn" mat-button (click)="deleteButtonClicked(data)"><mat-icon class="mat-24">delete</mat-icon></button>
                            </div>

                        </div>
                    </ng-template>
                </p-dataList>
            </div>

        </div>
    </div>
