<div class="row" *ngIf="tool">
      <div class="col-md-12">
           <div class="button-row">
               <a class="mat-primary" md-raised-button (click)="editButtonClicked()"><i class="material-icons">create</i> EDIT</a>
               <a class="mat-primary" md-raised-button (click)="deleteButtonClicked()"><i class="material-icons">delete</i> DELETE</a>
               <a class="mat-primary" md-raised-button (click)="historyButtonClicked()">HISTORY</a>
           </div>
       </div>
</div>
<div class="row" style="margin-top: 15px;">
   <div class="col-md-12">
     <div *ngIf="history">
       <md-card>
         <md-card-header style="border-bottom: 1px solid lightgray;">
           <md-card-title><h3>History Log</h3></md-card-title>
         </md-card-header>
         <h4>Object History</h4>
         <md-card-content *ngFor="let historyStr of historyArr">
           {{historyStr}}
         </md-card-content><br>
         <h4>Relationship History</h4>
         <md-card-content *ngFor="let relHistoryStr of relHistoryArr">
           {{relHistoryStr}}
         </md-card-content>
       </md-card>
     </div>
       <md-card>
           <md-card-content>
             <md-card-header style="border-bottom: 1px solid lightgray;">
                 <md-card-title><h3>{{ tool.attributes.name }}</h3></md-card-title>
             </md-card-header>
                   <div class="row">
                       <div class="col-md-12">
                           <h5 [innerHTML]="formatText(tool.attributes.description)"></h5><br>
                       </div>
                   </div>
                   <div *ngIf="tool.attributes.x_mitre_aliases && tool.attributes.x_mitre_aliases.length > 0" class="row">
                       <div class="col-md-12">
                           <label>Aliases</label>
                           <md-chip-list>
                               <md-chip *ngFor="let alias of tool.attributes.x_mitre_aliases"
                                   selected="true">
                                   {{alias}}
                               </md-chip>
                           </md-chip-list>
                       </div>
                   </div><br>
                   <div class="row">
                       <div class="col-md-12">
                           <label>Labels</label>
                           <md-chip-list>
                               <md-chip *ngFor="let label of tool.attributes.labels"
                                   selected="true"
                                   color="accent">
                                   {{label}}
                               </md-chip>
                           </md-chip-list>

                       </div>
                   </div><br>
                   <div class="row">
                       <div class="col-md-12">
                           <label>External References</label>
                           <md-chip-list>
                             <md-chip *ngFor="let external_reference of tool.attributes.external_references"
                                 selected="true">
                                 <a style="color: white" target="_blank" [attr.href]="external_reference.url" *ngIf="external_reference.url" (click)="visitExtRef(external_reference.url)"> {{external_reference.source_name}}</a>
                                 <span *ngIf="!external_reference.url"> {{external_reference.source_name}}</span>
                             </md-chip>
                           </md-chip-list>
                       </div>
                   </div>

           </md-card-content>

       </md-card>
   </div>
</div>

<relationship-list *ngIf="tool.id" [model]="tool"></relationship-list>
<div class="pull-right grey-text">{{tool.id}}</div>
