
<div class="row">
    <div class="col-md-12">
        <md-input-container class="full-width">
        <input mdInput placeholder="Name" required [(ngModel)]="intrusionSet.attributes.name" value="{{intrusionSet.attributes.name}}">
        </md-input-container>
    </div>
</div>
<md-input-container class="full-width">
    <textarea mdInput mdTextareaAutosize placeholder="Description" [(ngModel)]="intrusionSet.attributes.description">{{intrusionSet.attributes.description}}</textarea>
</md-input-container>
<div class="row">
    <div class="col-md-12">
        <h4>Aliases</h4>
              <div class="button-row">
                    <a class=" " md-raised-button (click)="addAlias()"><i class="material-icons">add</i> ADD</a>
              </div>
          </div>
        </div>
         <div class="row">
            <div class="col-md-12">
                     <md-card *ngFor="let alias of aliases; let i = index trackBy:trackByFunction" style="margin: 10px 0px;">
                            <md-card-content>
                                <div class="row">
                                  <div class="col-md-4">
                                          <md-input-container class="full-width">
                                              <input mdInput placeholder="Alias" [(ngModel)]="aliases[i].name">
                                          </md-input-container>
                                  </div>
                                  <div class="col-md-4">
                                          <md-input-container class="full-width">
                                              <input mdInput placeholder="Description" [(ngModel)]="aliases[i].description">
                                          </md-input-container>
                                  </div>
                                </div>
                            </md-card-content>
                            <md-card-actions>
                                <div class="button-row">
                                    <a class="" md-raised-button (click)="removeAlias(aliases[i].name)"><i class="material-icons">delete</i> REMOVE</a>
                                </div>
                            </md-card-actions>
                    </md-card>
            </div>
</div><br>
<div class="row">
    <div class="col-md-12">
        <h4>Techniques</h4>
              <div class="button-row">
                    <a class=" " md-raised-button (click)="addTechnique()"><i class="material-icons">add</i> ADD</a>
              </div>
          </div>
        </div>
         <div class="row">
            <div class="col-md-12">
                     <md-card *ngFor="let addedTechnique of addedTechniques; let i = index trackBy:trackByFunction" style="margin: 10px 0px;">
                            <md-card-content>
                                <div class="row">
                                    <div class="col-md-6">
                                      <form>
                                          <md-select name="allTechniques"[(ngModel)]="addedTechniques[i].name" (ngModelChange)="checkAddedTechniques()" placeholder="Technique" class="full-width">
                                            <md-option *ngFor="let technique of currTechniques[i]" [value]="technique.name">
                                                  <span>{{ technique.name }}</span>
                                            </md-option>
                                          </md-select>
                                      </form><br>
                                    </div>
                                    <div class="col-md-12">
                                            <md-input-container class="full-width">
                                                <textarea mdInput mdTextareaAutosize placeholder="Description" [(ngModel)]="addedTechniques[i].description"></textarea>
                                            </md-input-container>
                                    </div>
                                  </div>
                            </md-card-content>
                            <md-card-actions>
                                <div class="button-row">
                                    <a class="" md-raised-button (click)="removeTechnique(addedTechniques[i].name, i)"><i class="material-icons">delete</i> REMOVE</a>
                                </div>
                            </md-card-actions>
                    </md-card>
            </div>
</div><br>
<div class="row">
    <div class="col-md-12">
        <h4>Software</h4>
              <div class="button-row">
                    <a class=" " md-raised-button (click)="addSoftware()"><i class="material-icons">add</i> ADD</a>
              </div>
          </div>
        </div>
         <div class="row">
            <div class="col-md-12">
                     <md-card *ngFor="let addedSoftware of addedSoftwares; let i = index trackBy:trackByFunction" style="margin: 10px 0px;">
                            <md-card-content>
                               <div class="row">
                                   <div class="col-md-6">
                                       <form>
                                           <md-select name="allSoftwares"[(ngModel)]="addedSoftwares[i].name" placeholder="Software" class="full-width">
                                             <md-option *ngFor="let software of softwares" [value]="software.name">
                                                   <span>{{ software.name }}</span>
                                             </md-option>
                                           </md-select>
                                       </form><br>
                                   </div>
                                   <div class="col-md-12">
                                           <md-input-container class="full-width">
                                               <textarea mdInput mdTextareaAutosize placeholder="Description" [(ngModel)]="addedSoftwares[i].description"></textarea>
                                           </md-input-container>
                                   </div>
                                 </div>
                            </md-card-content>
                            <md-card-actions>
                                <div class="button-row">
                                    <a class="" md-raised-button (click)="removeSoftware(addedSoftwares[i].name)"><i class="material-icons">delete</i> REMOVE</a>
                                </div>
                            </md-card-actions>
                    </md-card>
            </div>
</div><br>

<external-reference [(model)]="intrusionSet" [(citations)]="allCitations"></external-reference>

<div class="row">
    <div class="col-md-12">
        <div class="button-row pull-right">
                <a class="" md-raised-button (click)="cancelButtonClicked()"><i class="fa fa-arrow-left"></i> CANCEL</a>
                <a class=" " md-raised-button (click)="saveIdentity()" [disabled]="!intrusionSet.attributes.name"><i class="fa fa-floppy-o "></i> SAVE & CLOSE</a>
        </div>
    </div>
</div>
