<div class="row" *ngIf="intrusionSet">
 <div class="col-md-12">

                <a class="mat-primary" md-raised-button (click)="editButtonClicked()"><i class="material-icons">create</i> EDIT</a>
                <a class="mat-primary" md-raised-button (click)="deleteButtonClicked()"><i class="material-icons">delete</i> DELETE</a>
                <!-- <button md-raised-button routerLink="/relationships/intrusion-uses-attack/{{intrusionSet.id}}">Intrusion Set</button> -->

       </div>
</div>
 <div class="row" style="margin-top: 15px;">
    <div class="col-md-12">
        <md-card>
            <md-card-content>
              <md-card-header style="border-bottom: 1px solid lightgray;">
                  <md-card-title><h3>{{ intrusionSet.attributes.name }}</h3></md-card-title>
              </md-card-header>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 [innerHTML]="formatText(intrusionSet.attributes.description)"></h5><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Aliases</label>
                            <md-chip-list>
                                <md-chip *ngFor="let alias of intrusionSet.attributes.aliases"
                                    selected="true">
                                    {{alias}}
                                </md-chip>
                            </md-chip-list>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-12">
                            <label>External References</label>
                            <md-chip-list>
                              <md-chip *ngFor="let external_reference of intrusionSet.attributes.external_references"
                                  selected="true">
                                  <a style="color: white" target="_blank" [attr.href]="external_reference.url" *ngIf="external_reference.url" (click)="visitExtRef(external_reference.url)"> {{external_reference.source_name}}</a>
                                  <span *ngIf="!external_reference.url"> {{external_reference.source_name}}</span>
                              </md-chip>
                            </md-chip-list>
                        </div>
                    </div>
            </md-card-content>
        </md-card>
    </div>
 </div>
<relationship-list *ngIf="intrusionSet.id" [model]="intrusionSet"></relationship-list>
<div class="pull-right grey-text">{{intrusionSet.id}}</div>
