<div class="row" *ngIf="intrusionSet">
 <div class="col-md-12">

                <a class="mat-primary" md-raised-button (click)="editButtonClicked()"><i class="material-icons">create</i> EDIT</a>
                <a class="mat-primary" md-raised-button (click)="deleteButtonClicked()"><i class="material-icons">delete</i> DELETE</a>
                <!-- <button md-raised-button routerLink="/relationships/intrusion-uses-attack/{{intrusionSet.id}}">Intrusion Set</button> -->

       </div>
</div>
 <div class="row" style="margin-top: 15px;">
    <div class="col-md-12">
        <md-card>
            <md-card-content>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Name</label>
                            <p>{{intrusionSet.attributes.name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Description</label>
                            <h6 [innerHTML]="cleanWhitespace(intrusionSet.attributes.description)"></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Aliases:</label>
                            <md-chip-list>
                                <md-chip *ngFor="let alias of intrusionSet.attributes.aliases"
                                    selected="true">
                                    {{alias}}
                                </md-chip>
                            </md-chip-list>
                        </div>
                    </div>
            </md-card-content>
        </md-card>
    </div>
 </div>
<relationship-list *ngIf="intrusionSet.id" [model]="intrusionSet"></relationship-list>
<div class="pull-right grey-text">{{intrusionSet.id}}</div>
