<div class="row" *ngIf="intrusionSet">
 <div class="col-md-12">

                <a class="mat-primary" mat-raised-button (click)="editButtonClicked()"><i class="material-icons">create</i> EDIT</a>
                <a class="mat-primary" mat-raised-button (click)="deleteButtonClicked()"><i class="material-icons">delete</i> DELETE</a>
                <button *ngIf="!history" class="mat-primary" mat-raised-button (click)="historyButtonClicked()">SHOW HISTORY</button>
                <button *ngIf="history" class="mat-primary" mat-raised-button (click)="historyButtonClicked()">HIDE HISTORY</button>
                <!-- <button md-raised-button routerLink="/relationships/intrusion-uses-attack/{{intrusionSet.id}}">Intrusion Set</button> -->

       </div>
</div>
 <div class="row" style="margin-top: 15px;">
    <div class="col-md-12">
      <div *ngIf="history">
        <mat-card>
          <mat-card-header style="border-bottom: 1px solid lightgray;">
            <mat-card-title><h3>Object History</h3></mat-card-title>
          </mat-card-header>
          <br>
          <mat-card-content *ngFor="let historyStr of historyArr">
          <b>{{historyStr.date}}: {{historyStr.path2}}{{historyStr.path}} {{historyStr.type}}{{historyStr.name}}</b>
          <div *ngIf="historyStr.left !== undefined" semanticDiff [left]="historyStr.left" [right]="historyStr.right"></div>
          </mat-card-content>
        </mat-card><br>
        <mat-card *ngIf="relHistoryArr.length > 0">
            <mat-card-header style="border-bottom: 1px solid lightgray;">
              <mat-card-title><h3>Relationship History</h3></mat-card-title>
            </mat-card-header>
            <br>
          <mat-card-content *ngFor="let relHistoryStr of relHistoryArr">
            <b>{{relHistoryStr}}</b>
          </mat-card-content>
        </mat-card>
        <br>
      </div>
        <mat-card>
            <mat-card-content>
              <mat-card-header style="border-bottom: 1px solid lightgray;">
                  <mat-card-title *ngIf="mitreId !== undefined"><h3>{{ intrusionSet.attributes.name }} - {{ mitreId.external_id }}</h3></mat-card-title>
                  <mat-card-title *ngIf="mitreId == undefined"><h4 style="color:#FE6131">*Draft</h4><h3>{{ intrusionSet.attributes.name }} </h3></mat-card-title>
              </mat-card-header>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 [innerHTML]="formatText(intrusionSet.attributes.description)"></h5><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Aliases</label>
                            <mat-chip-list>
                                <mat-chip *ngFor="let alias of aliasesToDisplay"
                                    selected="true">
                                    {{alias}}
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                    </div><br>
                    <div *ngIf="intrusionSet.attributes.x_mitre_contributors && intrusionSet.attributes.x_mitre_contributors.length" class="row">
                        <div class="col-md-12">
                            <label>Contributors:</label>
                            <mat-chip-list>
                                <mat-chip *ngFor="let contributor of intrusionSet.attributes.x_mitre_contributors"
                                    selected="true">
                                    {{contributor}}
                                </mat-chip>
                            </mat-chip-list><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>External References</label>
                            <mat-chip-list>
                              <mat-chip *ngFor="let external_reference of intrusionSet.attributes.external_references"
                                  selected="true">
                                  <a style="color: white" target="_blank" [attr.href]="external_reference.url" *ngIf="external_reference.url" (click)="visitExtRef(external_reference.url)"> {{external_reference.source_name}}</a>
                                  <span *ngIf="!external_reference.url"> {{external_reference.source_name}}</span>
                              </mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>
            </mat-card-content>
        </mat-card>
    </div>
 </div>
<relationship-list *ngIf="intrusionSet.id" [model]="intrusionSet"></relationship-list>
<div class="pull-right grey-text">{{intrusionSet.id}}</div>
