<h4>Domain</h4>
<div class="row">
        <div class="col-md-6">
          <div class="row">
              <div class="col-md-4" *ngFor="let answer of domain">
                      <mat-checkbox class="identity-margin" (change)="addRemoveDomain(answer.name)" [ngModel]="answer.val">{{answer.name}}</mat-checkbox>
              </div>
          </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                 <div class="form-group">
                    <mat-input-container class="full-width">
                        <input matInput class="form-control" required placeholder="Name" value="{{xMitreMatrix.attributes.name}}"
                            [(ngModel)]="xMitreMatrix.attributes.name">
                    </mat-input-container>
                </div>
            </div>
        </div>
<mat-input-container class="full-width">
    <textarea matInput matTextareaAutosize required placeholder="Description" [(ngModel)]="xMitreMatrix.attributes.description">{{xMitreMatrix.attributes.description}}</textarea>
</mat-input-container>
<div class="row">
    <div class="col-md-12">
        <h4>Tactics</h4>
              <div class="button-row">
                    <a class=" " mat-raised-button (click)="addTactic()"><i class="material-icons">add</i> ADD</a>
              </div>
          </div>
        </div>
         <div class="row">
            <div class="col-md-12">
                     <mat-card *ngFor="let tactic of tactic_refs; let i = index trackBy:trackByFunction" style="margin: 10px 0px;">
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-6">
                                      <mat-form-field class="full-width">
                                          <mat-select name="allTactics" [(ngModel)]="tactic_refs[i]" placeholder="Tactic" class="full-width">
                                            <mat-option *ngFor="let currTactic of tactics" [value]="currTactic">
                                              <span>{{ currTactic.attributes.name }} - {{ currTactic.attributes.external_references[0].external_id }}</span>
                                            </mat-option>
                                          </mat-select>
                                      </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                    <span>{{ tactic_refs[i].attributes.description }}</span>
                                    </div>
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <div class="button-row">
                                    <a class="" mat-raised-button (click)="removeTactic(tactic_refs[i].id)"><i class="material-icons">delete</i> REMOVE</a>
                                </div>
                            </mat-card-actions>
                    </mat-card>
            </div>
</div><br>
<div class="row">
    <div class="col-md-12">
        <div class="button-row pull-right">
                <button class="" mat-raised-button (click)="cancelButtonClicked()"><i class="fa fa-arrow-left"></i> CANCEL</button>
                <button type="submit" class=" " mat-raised-button (click)="saveButtonClicked()" [disabled]="!xMitreMatrix.attributes.name || !xMitreMatrix.attributes.description"><i class="material-icons">save</i> SAVE & CLOSE</button>
        </div>
    </div>
</div>

