<div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                        <mat-checkbox class="identity-margin" (change)="addRemoveId()">Assign ID?</mat-checkbox>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf=addId>
        <div class="col-md-12">
            <mat-input-container class="full-width">
                <input matInput placeholder="ID" [(ngModel)]="id">
            </mat-input-container>
        </div>
        <div class="button-row">
            <a class="" mat-raised-button [ngxClipboard]="copyId"> Copy</a>
            <input class="" size="100" #copyId value="{{idLink}}{{id}}}}">
        </div>
        <br>
    </div>
<div class="row">
    <div class="col-md-12">
        <mat-input-container class="full-width">
            <textarea matInput matTextareaAutosize required placeholder="Description" [(ngModel)]="intrusionSet.attributes.description">{{intrusionSet.attributes.description}}</textarea>
        </mat-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <mat-input-container class="full-width">
            <input matInput placeholder="Alias" required [(ngModel)]="intrusionSet.attributes.name" value="">
        </mat-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <mat-input-container class="full-width">
            <textarea matInput matTextareaAutosize placeholder="Alias Description" [(ngModel)]="origAliasDescription"></textarea>
        </mat-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Other Aliases</h4>
              <div class="button-row">
                    <a class=" " mat-raised-button (click)="addAlias()"><i class="material-icons">add</i> ADD</a>
              </div>
          </div>
        </div>
         <div class="row">
            <div class="col-md-12">
                     <mat-card *ngFor="let alias of aliases; let i = index trackBy:trackByFunction" style="margin: 10px 0px;">
                            <mat-card-content>
                                <div class="row">
                                  <div class="col-md-4">
                                          <mat-input-container class="full-width">
                                              <input matInput placeholder="Alias" [(ngModel)]="aliases[i].name">
                                          </mat-input-container>
                                  </div>
                                  <div class="col-md-12">
                                        <mat-input-container class="full-width">
                                            <textarea matInput matTextareaAutosize placeholder="Description" [(ngModel)]="aliases[i].description"></textarea>
                                        </mat-input-container>
                                  </div>
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <div class="button-row">
                                    <a class="" mat-raised-button (click)="removeAlias(aliases[i].name)"><i class="material-icons">delete</i> REMOVE</a>
                                </div>
                            </mat-card-actions>
                    </mat-card>
            </div>
</div><br>
<div class="row">
    <div class="col-md-12">
        <h4>Techniques</h4>
              <div class="button-row">
                    <a class=" " mat-raised-button (click)="addTechnique()"><i class="material-icons">add</i> ADD</a>
              </div>
          </div>
        </div>
         <div class="row">
            <div class="col-md-12">
                     <mat-card *ngFor="let addedTechnique of addedTechniques; let i = index trackBy:trackByFunction" style="margin: 10px 0px;">
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-6">
                                      <mat-form-field class="full-width">
                                          <mat-select name="allTechniques"[(ngModel)]="addedTechniques[i].name" (ngModelChange)="checkAddedTechniques()" placeholder="Technique" class="full-width">
                                            <mat-option *ngFor="let technique of currTechniques[i]" [value]="technique.name">
                                                  <span>{{ technique.name }}</span>
                                            </mat-option>
                                          </mat-select>
                                      </mat-form-field><br>
                                    </div>
                                    <div class="col-md-12">
                                            <mat-input-container class="full-width">
                                                <textarea matInput matTextareaAutosize placeholder="Description" [(ngModel)]="addedTechniques[i].description"></textarea>
                                            </mat-input-container>
                                    </div>
                                  </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <div class="button-row">
                                    <a class="" mat-raised-button (click)="removeTechnique(addedTechniques[i].name, i)"><i class="material-icons">delete</i> REMOVE</a>
                                </div>
                            </mat-card-actions>
                    </mat-card>
            </div>
</div><br>
<div class="row">
    <div class="col-md-12">
        <h4>Software</h4>
              <div class="button-row">
                    <a class=" " mat-raised-button (click)="addSoftware()"><i class="material-icons">add</i> ADD</a>
              </div>
          </div>
        </div>
         <div class="row">
            <div class="col-md-12">
                     <mat-card *ngFor="let addedSoftware of addedSoftwares; let i = index trackBy:trackByFunction" style="margin: 10px 0px;">
                            <mat-card-content>
                               <div class="row">
                                   <div class="col-md-6">
                                       <mat-form-field class="full-width">
                                           <mat-select name="allSoftwares"[(ngModel)]="addedSoftwares[i].name" (ngModelChange)="checkAddedSoftwares()" placeholder="Software" class="full-width">
                                             <mat-option *ngFor="let software of currSoftwares[i]" [value]="software.name">
                                                   <span>{{ software.name }}</span>
                                             </mat-option>
                                           </mat-select>
                                       </mat-form-field><br>
                                   </div>
                                   <div class="col-md-12">
                                           <mat-input-container class="full-width">
                                               <textarea matInput matTextareaAutosize placeholder="Description" [(ngModel)]="addedSoftwares[i].description"></textarea>
                                           </mat-input-container>
                                   </div>
                                 </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <div class="button-row">
                                    <a class="" mat-raised-button (click)="removeSoftware(addedSoftwares[i].name, i)"><i class="material-icons">delete</i> REMOVE</a>
                                </div>
                            </mat-card-actions>
                    </mat-card>
            </div>
</div><br>
<div class="row">
    <div class="col-md-12">
        <h4>Contributors</h4>
              <div class="button-row">
                    <a class=" " mat-raised-button (click)="addContributor()"><i class="material-icons">add</i> ADD</a>
              </div>
          </div>
        </div>
         <div class="row">
            <div class="col-md-12">
                     <mat-card *ngFor="let contributor of intrusionSet.attributes.x_mitre_contributors; let i = index trackBy:trackByFunction" style="margin: 10px 0px;">
                       <mat-card-content>
                           <div class="row">
                             <div class="col-md-6">
                               <mat-input-container class="full-width">
                                   <input matInput placeholder="Contributor Name" [(ngModel)]="intrusionSet.attributes.x_mitre_contributors[i]" [matAutocomplete]="auto" (ngModelChange)="currContributors = filterOptions(intrusionSet.attributes.x_mitre_contributors[i], contributors)">
                               </mat-input-container>
                               <mat-autocomplete name="auto" #auto="matAutocomplete" >
                               <mat-option *ngFor="let contributor of currContributors" [value]="contributor">
                                   <span>{{ contributor }}</span>
                               </mat-option>
                               </mat-autocomplete>
                             </div>
                           </div>
                       </mat-card-content>
                            <mat-card-actions>
                                <div class="button-row">
                                    <a class="" mat-raised-button (click)="removeContributor(contributor)"><i class="material-icons">delete</i> REMOVE</a>
                                </div>
                            </mat-card-actions>
                    </mat-card>
            </div>
</div><br>
<h4>External References</h4> 
<citations [(createNewOnly)]="createNewOnly" (createdNew)="getNewCitation($event)"></citations>
<external-reference [(model)]="intrusionSet" [(citations)]="allCitations"></external-reference>

<div class="row">
    <div class="col-md-12">
        <div class="button-row pull-right">
                <button class="" mat-raised-button (click)="cancelButtonClicked()"><i class="material-icons">keyboard_arrow_left</i> CANCEL</button>
                <button type="submit" class=" " mat-raised-button (click)="saveButtonClicked()" [disabled]="!intrusionSet.attributes.name || !intrusionSet.attributes.description"><i class="material-icons">save</i> SAVE & CLOSE</button>
        </div>
    </div>
</div>
