<div class="banner security-marking-label" *ngIf="showBanner">
    <span class="banner-text strong">{{securityMarkingLabel}}</span>
  </div>
 <header-navigation (openHelp)="openHelp()"></header-navigation>


<div id="routerWrapper">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div style="display: flex; flex-direction: column;">
    <div>

            <p class="text-right">
              <span *ngIf="authService.isAdmin()">
                <a routerLink="./admin">Admin</a>&emsp;&emsp;
              </span>
            </p>

    </div>
    <div class="banner security-marking-label" *ngIf="showBanner">
      <span class="banner-text strong">{{securityMarkingLabel}}</span>
    </div>

  </div>
</footer>

<!-- help page overlay -->
<div *ngIf="showHelp" class="help-wrapper" (click)="helpBackgroundClick($event)">
    <help-page (closeEvent)="closeHelp()"></help-page>
</div>