<div class="container">
  <div class="row mt-20" *ngIf="authService.pendingApproval()">
    <div class="col-xs-12">
      <div class="uf-well">
        <a (click)="authService.logOut()" class="close" data-dismiss="alert">&times;</a>
        Thank you for registrating to Unfetter. You are pending approval.
      </div>
    </div>
  </div>

  <div id="stixHome" class="container">
      <h2>Choose Type of Object to Edit:</h2>

      <ul class="nav nav-pills">
          <h3 *ngFor="let navigation of navigations" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}">
              <a *ngIf="navigation.label !== 'Citations'" [routerLink]="[navigation.url]">{{navigation.label}}</a>
          </h3>
      </ul>
      <h2>View Citations:</h2>

      <ul class="nav nav-pills">
          <h3 *ngFor="let navigation of navigations" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:false}">
              <a *ngIf="navigation.label === 'Citations'" [routerLink]="[navigation.url]">{{navigation.label}}</a>
          </h3>
      </ul>

      <router-outlet></router-outlet>
  </div>
</div>
