<div class="row" *ngIf="courseOfAction">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <mat-input-container class="full-width">
                <input matInput placeholder="Name" required [(ngModel)]="courseOfAction.attributes.name" value="{{courseOfAction.attributes.name}}">
                </mat-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-input-container class="full-width">
                    <textarea matInput matTextareaAutosize required placeholder="Description" [(ngModel)]="courseOfAction.attributes.description">{{courseOfAction.attributes.description}}</textarea>
                </mat-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-input-container class="full-width">
                    <input type="string" matInput required placeholder="Version" [(ngModel)]="courseOfAction.attributes.x_mitre_version" value="{{courseOfAction.attributes.x_mitre_version}}">
                </mat-input-container>
            </div>
        </div>
        <h4>External References</h4> 
        <citations [(createNewOnly)]="createNewOnly" (createdNew)="getNewCitation($event)"></citations>
        <external-reference [(model)]="courseOfAction" [(citations)]="allCitations"></external-reference>

        <div class="row">
            <div class="col-md-12">
                <div class="button-row pull-right">
                        <button class="" mat-raised-button (click)="cancelButtonClicked()"><i class="material-icons">keyboard_arrow_left</i>CANCEL</button>
                        <button class=" " mat-raised-button (click)="saveCourseOfAction()" [disabled]="!courseOfAction.attributes.name || !courseOfAction.attributes.description"><i class="material-icons">save</i>SAVE & CLOSE</button>

                </div>
            </div>
        </div>
    </div>
</div>
