
        <div class="row">
            <div class="col-md-12">
                <md-input-container class="full-width">
                    <input mdInput placeholder="Name" required [(ngModel)]="attackPattern.attributes.name">
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <md-input-container class="full-width">
                    <textarea mdInput required [(ngModel)]="attackPattern.attributes.description"  placeholder="Description"></textarea>
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <md-input-container class="full-width">
                    <textarea mdInput [(ngModel)]="attackPattern.attributes.x_mitre_system_requirements"  placeholder="System Requirements"></textarea>
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <label>Platforms</label>
                <div class="row">
                    <div class="col-md-4" *ngFor="let platform of platforms">
                            <md-checkbox class="identity-margin" (change)="addRemovePlatform(platform)">{{platform}}</md-checkbox>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-12">
              <label>Data Sources</label>
                <div class="row">
                    <div class="col-md-4" *ngFor="let dataSource of dataSources">
                            <md-checkbox class="identity-margin" (change)="addRemoveDataSource(dataSource)">{{dataSource}}</md-checkbox>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-12">
                <label>Contributors</label>
                        <div class="button-row">
                            <a class=" " md-raised-button (click)="addContributor()"><i class="material-icons">add</i> ADD</a>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-12">
                             <md-card *ngFor="let contributor of attackPattern.attributes.x_mitre_contributors; let i = index trackBy:trackByFunction" style="margin: 10px 0px;">
                                    <md-card-content>
                                        <div class="row">
                                          <div class="col-md-6">
                                                  <md-input-container class="full-width">
                                                      <input mdInput placeholder="Contributor Name" [(ngModel)]="attackPattern.attributes.x_mitre_contributors[i]" [mdAutocomplete]="auto">
                                                  </md-input-container>
                                                  <md-autocomplete name="auto" #auto="mdAutocomplete" >
                                                  <md-option *ngFor="let contributor of contributors" [value]="contributor">
                                                      <span>{{ contributor }}</span>
                                                  </md-option>
                                              </md-autocomplete>
                                          </div>
                                        </div>
                                    </md-card-content>
                                    <md-card-actions>
                                        <div class="button-row">
                                            <a class="" md-raised-button (click)="removeContributor(contributor)"><i class="material-icons">delete</i> REMOVE</a>
                                        </div>
                                    </md-card-actions>
                            </md-card>
                    </div>
        </div>
        <kill-chain-phases [(model)]="attackPattern"></kill-chain-phases><br>
       <external-reference [(model)]="attackPattern"></external-reference>

          <div class="row">
            <div class="col-md-12">
                <div class="button-row pull-right">
                     <button  class="" md-raised-button (click)="cancelButtonClicked()"><i class="material-icons">keyboard_arrow_left</i> CANCEL</button>
                         <button type="submit"  class=" " md-raised-button (click)="saveAttackPattern()" [disabled]="!attackPattern.attributes.name || !attackPattern.attributes.description"><i class="material-icons">save</i> SAVE & CLOSE</button>

                </div>
            </div>
          </div>
