
        <div class="row">
            <div class="col-md-12">
                <h5>MITRE ID: {{id}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-input-container class="full-width">
                    <input matInput placeholder="Name" required [(ngModel)]="attackPattern.attributes.name">
                </mat-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-input-container class="full-width">
                    <textarea matInput required [(ngModel)]="attackPattern.attributes.description"  placeholder="Description"></textarea>
                </mat-input-container>
            </div>
        </div>
        <kill-chain-phases [(model)]="attackPattern" [(tactics)]="tactics" (onTacticAdd)="tacticChange($event)" [(tacticBools)]="tacticBools"></kill-chain-phases>
        <div class="row">
            <div class="col-md-12">
                <mat-input-container class="full-width">
                    <textarea matInput [(ngModel)]="attackPattern.attributes.x_mitre_detection"  placeholder="Detection"></textarea>
                </mat-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-input-container class="full-width">
                    <textarea matInput [(ngModel)]="mitigation"  placeholder="Mitigation"></textarea>
                </mat-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-input-container class="full-width">
                    <textarea matInput [(ngModel)]="attackPattern.attributes.x_mitre_system_requirements"  placeholder="System Requirements"></textarea>
                </mat-input-container>
            </div>
        </div>
        <div *ngIf="tacticBools['defEvas']" class="row">
            <div class="col-md-12">
                <mat-input-container class="full-width">
                    <textarea matInput [(ngModel)]="attackPattern.attributes.x_mitre_defense_bypassed"  placeholder="Defense Bypassed"></textarea>
                </mat-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <h4>Platforms
                <span style="color:#FE6131">*</span></h4>
                <a href="javascript:;" (click)="selectAllPlatforms()">[ Select All ]</a>
                <a href="javascript:;" (click)="removeAllPlatforms()">[ Select None ]</a><br><br>
                <div class="row">
                    <div class="col-md-4" *ngFor="let platform of platforms">
                            <mat-checkbox class="identity-margin" (change)="addRemovePlatform(platform.name)" [(ngModel)]="platform.val">{{platform.name}}</mat-checkbox>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-12">
              <h4>Permissions Required</h4>
                <div class="row">
                    <div class="col-md-4" *ngFor="let perm of permissions_req">
                            <mat-checkbox class="identity-margin" (change)="addRemovePermission(perm.name)">{{perm.name}}</mat-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="tacticBools['privEsc']" class="row"><br>
            <div class="col-md-12">
              <h4>Effective Permissions</h4>
                <div class="row">
                    <div class="col-md-4" *ngFor="let perm of effective_perms">
                            <mat-checkbox class="identity-margin" (change)="addRemoveEffectivePerm(perm.name)">{{perm.name}}</mat-checkbox>
                    </div>
                </div>
            </div><br>
        </div>
        <div *ngIf="tacticBools['execution']"><br>
          <h4>Supports Remote</h4>
          <div class="row">
              <div class="col-md-6">
                  <mat-radio-group layout="row" [(ngModel)]="attackPattern.attributes.x_mitre_remote_support">
                    <mat-radio-button *ngFor="let boolVal of supportsRemoteReqNet" [value]="boolVal.value">
                        {{boolVal.label}}<br>
                    </mat-radio-button>
                  </mat-radio-group>
              </div>
          </div>
        </div>
        <div *ngIf="tacticBools['exfil']"><br>
          <h4>Requires Network</h4>
          <div class="row">
              <div class="col-md-6">
                  <mat-radio-group layout="row" [(ngModel)]="attackPattern.attributes.x_mitre_network_requirements">
                    <mat-radio-button *ngFor="let boolVal of supportsRemoteReqNet" [value]="boolVal.value">
                        {{boolVal.label}}<br>
                    </mat-radio-button>
                  </mat-radio-group>
              </div>
          </div>
        </div><br>
        <div class="row">
            <div class="col-md-12">
                <h4>Data Sources</h4>
                      <div class="button-row">
                            <a class=" " mat-raised-button (click)="addDataSource()"><i class="material-icons">add</i> ADD</a>
                      </div>
                  </div>
                </div>
                 <div class="row">
                    <div class="col-md-12">
                             <mat-card *ngFor="let dataSource of attackPattern.attributes.x_mitre_data_sources; let i = index trackBy:trackByFunction" style="margin: 10px 0px;">
                               <mat-card-content>
                                   <div class="row">
                                       <div class="col-md-6">
                                         <mat-form-field style="width: auto;">
                                             <mat-select name="allDataSources" [(ngModel)]="attackPattern.attributes.x_mitre_data_sources[i]" placeholder="Data Source" class="full-width">
                                               <mat-option *ngFor="let dataSource of dataSources" [value]="dataSource">
                                                 <span>{{ dataSource }}</span>
                                               </mat-option>
                                             </mat-select>
                                         </mat-form-field><br>
                                       </div>
                                   </div>
                               </mat-card-content>
                                    <mat-card-actions>
                                        <div class="button-row">
                                            <a class="" mat-raised-button (click)="removeDataSource(dataSource)"><i class="material-icons">delete</i> REMOVE</a>
                                        </div>
                                    </mat-card-actions>
                            </mat-card>
                    </div>
        </div><br>
        <div class="row">
            <div class="col-md-12">
                <h4>Contributors</h4>
                      <div class="button-row">
                            <a class=" " mat-raised-button (click)="addContributor()"><i class="material-icons">add</i> ADD</a>
                      </div>
                  </div>
                </div>
                 <div class="row">
                    <div class="col-md-12">
                             <mat-card *ngFor="let contributor of attackPattern.attributes.x_mitre_contributors; let i = index trackBy:trackByFunction" style="margin: 10px 0px;">
                                    <mat-card-content>
                                        <div class="row">
                                          <div class="col-md-6">
                                                  <mat-input-container class="full-width">
                                                      <input matInput placeholder="Contributor Name" [(ngModel)]="attackPattern.attributes.x_mitre_contributors[i]" [matAutocomplete]="auto" (ngModelChange)="currContributors = filterOptions(attackPattern.attributes.x_mitre_contributors[i], contributors)">
                                                  </mat-input-container>
                                                  <mat-autocomplete name="auto" #auto="matAutocomplete" >
                                                  <mat-option *ngFor="let contributor of currContributors" [value]="contributor">
                                                      <span>{{ contributor }}</span>
                                                  </mat-option>
                                              </mat-autocomplete>
                                          </div>
                                        </div>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <div class="button-row">
                                            <a class="" mat-raised-button (click)="removeContributor(contributor)"><i class="material-icons">delete</i> REMOVE</a>
                                        </div>
                                    </mat-card-actions>
                            </mat-card>
                    </div>
        </div><br>
        <h4>External References</h4> 
        <citations [(createNewOnly)]="createNewOnly" (createdNew)="getNewCitation($event)"></citations>
        <external-reference [(model)]="attackPattern" [(citations)]="allCitations"></external-reference>

          <div class="row">
            <div class="col-md-12">
                <div class="button-row pull-right">
                     <button  class="" mat-raised-button (click)="cancelButtonClicked()"><i class="material-icons">keyboard_arrow_left</i> CANCEL</button>
                         <button type="submit"  class=" " mat-raised-button (click)="saveAttackPattern()" [disabled]="!attackPattern.attributes.name || !attackPattern.attributes.description || !attackPattern.attributes.kill_chain_phases || attackPattern.attributes.kill_chain_phases.length < 1 || attackPattern.attributes.x_mitre_platforms.length < 1"><i class="material-icons">save</i> SAVE & CLOSE</button>

                </div>
            </div>
          </div>
