
    <div class="row" *ngIf="attackPattern">
       <div class="col-md-12">

                <div class="button-row">
                    <button  class="mat-primary" mat-raised-button (click)="editButtonClicked(attackPattern)"><i class="material-icons">create</i> EDIT</button>
                    <button class="mat-primary" mat-raised-button (click)="deleteButtonClicked(attackPattern)"><i class="material-icons">delete</i> DELETE</button>
                    <button class="mat-primary" mat-raised-button (click)="historyButtonClicked()">HISTORY</button>
                </div>

        </div>
    </div>
      <div class="row" style="margin-top: 15px;" *ngIf="attackPattern">
        <div class="col-md-12">
          <div *ngIf="history">
            <mat-card>
              <mat-card-header style="border-bottom: 1px solid lightgray;">
                <mat-card-title><h3>History Log</h3></mat-card-title>
              </mat-card-header>
              <h4>Object History</h4>
              <mat-card-content *ngFor="let historyStr of historyArr">
                {{historyStr}}
              </mat-card-content><br>
              <h4>Relationship History</h4>
              <mat-card-content *ngFor="let relHistoryStr of relHistoryArr">
                {{relHistoryStr}}
              </mat-card-content>
            </mat-card>
          </div>
            <mat-card>
                <mat-card-content>
                      <mat-card-header style="border-bottom: 1px solid lightgray;">
                          <mat-card-title><h3>{{ attackPattern.attributes.name }}</h3></mat-card-title>
                      </mat-card-header>
                        <div class="row">
                           <div class="col-md-12">
                                <h5 [innerHTML]="formatText(attackPattern.attributes.description)"></h5>
                            </div>
                        </div>
                        <div *ngIf="attackPattern.attributes.x_mitre_detection" class="row">
                           <div class="col-md-12">
                                <label>Detection</label>
                                <h5>{{attackPattern.attributes.x_mitre_detection}}</h5>
                            </div>
                        </div><br>
                        <div *ngIf="attackPattern.attributes.x_mitre_system_requirements" class="row">
                            <div class="col-md-12">
                                <label>System Requirements</label>
                                <h5>{{attackPattern.attributes.x_mitre_system_requirements}}</h5>
                            </div>
                        </div><br>
                        <div *ngIf="mitigation" class="row">
                            <div class="col-md-12">
                                <label>Mitigation</label>
                                <h5 [innerHTML]="formatText(mitigation)"></h5><br>
                            </div>
                        </div>
                        <div *ngIf="attackPattern.attributes.x_mitre_platforms && attackPattern.attributes.x_mitre_platforms.length" class="row">
                            <div class="col-md-12">
                                <label>Platforms:</label>
                                <mat-chip-list>
                                    <mat-chip *ngFor="let platform of attackPattern.attributes.x_mitre_platforms"
                                        selected="true">
                                        {{platform}}
                                    </mat-chip>
                                </mat-chip-list><br>
                            </div>
                        </div>
                        <div *ngIf="attackPattern.attributes.x_mitre_permissions_required && attackPattern.attributes.x_mitre_permissions_required.length" class="row">
                            <div class="col-md-12">
                                <label>Permissions Required:</label>
                                <mat-chip-list>
                                    <mat-chip *ngFor="let permission of attackPattern.attributes.x_mitre_permissions_required"
                                        selected="true">
                                        {{permission}}
                                    </mat-chip>
                                </mat-chip-list><br>
                            </div>
                        </div>
                        <div *ngIf="attackPattern.attributes.x_mitre_effective_permissions && attackPattern.attributes.x_mitre_effective_permissions.length" class="row">
                            <div class="col-md-12">
                                <label>Effective Permissions:</label>
                                <mat-chip-list>
                                    <mat-chip *ngFor="let permission of attackPattern.attributes.x_mitre_effective_permissions"
                                        selected="true">
                                        {{permission}}
                                    </mat-chip>
                                </mat-chip-list><br>
                            </div>
                        </div>
                        <div *ngIf="attackPattern.attributes.x_mitre_remote_support" class="row">
                           <div class="col-md-12">
                                <label>Supports Remote</label>
                                <h5>{{attackPattern.attributes.x_mitre_remote_support}}</h5>
                            </div><br>
                        </div>
                        <div *ngIf="attackPattern.attributes.x_mitre_network_requirements" class="row">
                           <div class="col-md-12">
                                <label>Requires Network</label>
                                <h5>{{attackPattern.attributes.x_mitre_network_requirements}}</h5>
                            </div><br>
                        </div>
                        <div *ngIf="attackPattern.attributes.x_mitre_defense_bypassed" class="row">
                           <div class="col-md-12">
                                <label>Defense Bypassed</label>
                                <h5>{{attackPattern.attributes.x_mitre_defense_bypassed}}</h5>
                            </div><br>
                        </div>
                        <div *ngIf="attackPattern.attributes.x_mitre_data_sources && attackPattern.attributes.x_mitre_data_sources.length" onloadedmetadata=""class="row">
                            <div class="col-md-12">
                                <label>Data Sources:</label>
                                <mat-chip-list>
                                    <mat-chip *ngFor="let dataSource of attackPattern.attributes.x_mitre_data_sources"
                                        selected="true">
                                        {{dataSource}}
                                    </mat-chip>
                                </mat-chip-list><br>
                            </div>
                        </div>
                        <div *ngIf="attackPattern.attributes.x_mitre_contributors && attackPattern.attributes.x_mitre_contributors.length" class="row">
                            <div class="col-md-12">
                                <label>Contributors:</label>
                                <mat-chip-list>
                                    <mat-chip *ngFor="let contributor of attackPattern.attributes.x_mitre_contributors"
                                        selected="true">
                                        {{contributor}}
                                    </mat-chip>
                                </mat-chip-list><br>
                            </div>
                        </div>
                        <div *ngIf="attackPattern.attributes.kill_chain_phases && attackPattern.attributes.kill_chain_phases.length" class="row">
                            <div class="col-md-12">
                                <label>Tactics:</label>
                                <mat-chip-list>
                                    <mat-chip *ngFor="let kill_chain_phase of attackPattern.attributes.kill_chain_phases"
                                        selected="true">
                                        {{kill_chain_phase.phase_name}}
                                    </mat-chip>
                                </mat-chip-list><br>
                            </div>
                        </div>
                           <div class="row">
                                <div class="col-md-12">
                                    <label>External References:</label>
                                    <mat-chip-list>
                                        <mat-chip *ngFor="let external_reference of attackPattern.attributes.external_references"
                                            selected="true">
                                            <a style="color: white" target="_blank" [attr.href]="external_reference.url" *ngIf="external_reference.url" (click)="visitExtRef(external_reference.url)"> {{external_reference.source_name}}</a>
                                        </mat-chip>
                                    </mat-chip-list>
                                </div>
                            </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <relationship-list *ngIf="attackPattern.id" [model]="attackPattern"></relationship-list>
      <div class="pull-right grey-text">{{attackPattern.id}}</div>
