
    <div class="row" *ngIf="attackPattern">
       <div class="col-md-12">

                <div class="button-row">
                    <button  class="mat-primary" md-raised-button (click)="editButtonClicked(attackPattern)"><i class="material-icons">create</i> EDIT</button>
                    <button class="mat-primary" md-raised-button (click)="deleteButtonClicked(attackPattern)"><i class="material-icons">delete</i> DELETE</button>
                </div>

        </div>
    </div>
      <div class="row" style="margin-top: 15px;" *ngIf="attackPattern">
        <div class="col-md-12">
            <md-card>

                <md-card-content>
                        <div class="row">
                           <div class="col-md-12">
                                <label>Name</label>
                                <h6>{{attackPattern.attributes.name}}</h6>
                            </div>
                        </div>
                        <div class="row">
                           <div class="col-md-12">
                                <label>Description</label>
                                <h6 [innerHTML]="cleanWhitespace(attackPattern.attributes.description)"></h6>
                            </div>
                        </div>
                        <div *ngIf="attackPattern.attributes.x_mitre_detection" class="row">
                           <div class="col-md-12">
                                <label>Detection</label>
                                <h6>{{attackPattern.attributes.x_mitre_detection}}</h6>
                            </div>
                        </div>
                        <div *ngIf="attackPattern.attributes.x_mitre_system_requirements" class="row">
                            <div class="col-md-12">
                                <label>System Requirements</label>
                                <h6>{{attackPattern.attributes.x_mitre_system_requirements}}</h6>
                            </div>
                        </div>
                        <div *ngIf="mitigation" class="row">
                            <div class="col-md-12">
                                <label>Mitigation</label>
                                <h6 [innerHTML]="cleanWhitespaceMitigation(mitigation)"></h6>
                            </div>
                        </div>
                        <div *ngIf="attackPattern.attributes.x_mitre_platforms && attackPattern.attributes.x_mitre_platforms.length" class="row">
                            <div class="col-md-12">
                                <label>Platforms:</label>
                                <md-chip-list>
                                    <md-chip *ngFor="let platform of attackPattern.attributes.x_mitre_platforms"
                                        selected="true">
                                        {{platform}}
                                    </md-chip>
                                </md-chip-list>
                            </div>
                        </div>
                        <div *ngIf="attackPattern.attributes.x_mitre_permissions_required && attackPattern.attributes.x_mitre_permissions_required.length" class="row">
                            <div class="col-md-12">
                                <label>Permissions Required:</label>
                                <md-chip-list>
                                    <md-chip *ngFor="let permission of attackPattern.attributes.x_mitre_permissions_required"
                                        selected="true">
                                        {{permission}}
                                    </md-chip>
                                </md-chip-list>
                            </div>
                        </div>
                        <div *ngIf="attackPattern.attributes.x_mitre_effective_permissions && attackPattern.attributes.x_mitre_effective_permissions.length" class="row">
                            <div class="col-md-12">
                                <label>Effective Permissions:</label>
                                <md-chip-list>
                                    <md-chip *ngFor="let permission of attackPattern.attributes.x_mitre_effective_permissions"
                                        selected="true">
                                        {{permission}}
                                    </md-chip>
                                </md-chip-list>
                            </div>
                        </div>
                        <div *ngIf="attackPattern.attributes.x_mitre_remote_support" class="row">
                           <div class="col-md-12">
                                <label>Supports Remote</label>
                                <h6>{{attackPattern.attributes.x_mitre_remote_support}}</h6>
                            </div>
                        </div>
                        <div *ngIf="attackPattern.attributes.x_mitre_network_requirements" class="row">
                           <div class="col-md-12">
                                <label>Requires Network</label>
                                <h6>{{attackPattern.attributes.x_mitre_network_requirements}}</h6>
                            </div>
                        </div>
                        <div *ngIf="attackPattern.attributes.x_mitre_defense_bypassed" class="row">
                           <div class="col-md-12">
                                <label>Defense Bypassed</label>
                                <h6>{{attackPattern.attributes.x_mitre_defense_bypassed}}</h6>
                            </div>
                        </div>
                        <div *ngIf="attackPattern.attributes.x_mitre_data_sources && attackPattern.attributes.x_mitre_data_sources.length" onloadedmetadata=""class="row">
                            <div class="col-md-12">
                                <label>Data Sources:</label>
                                <md-chip-list>
                                    <md-chip *ngFor="let dataSource of attackPattern.attributes.x_mitre_data_sources"
                                        selected="true">
                                        {{dataSource}}
                                    </md-chip>
                                </md-chip-list>
                            </div>
                        </div>
                        <div *ngIf="attackPattern.attributes.x_mitre_contributors && attackPattern.attributes.x_mitre_contributors.length" class="row">
                            <div class="col-md-12">
                                <label>Contributors:</label>
                                <md-chip-list>
                                    <md-chip *ngFor="let contributor of attackPattern.attributes.x_mitre_contributors"
                                        selected="true">
                                        {{contributor}}
                                    </md-chip>
                                </md-chip-list>
                            </div>
                        </div>
                        <div *ngIf="attackPattern.attributes.kill_chain_phases && attackPattern.attributes.kill_chain_phases.length" class="row">
                            <div class="col-md-12">
                                <label>Kill Chain Name:</label>
                                <md-chip-list>
                                    <md-chip *ngFor="let kill_chain_phase of attackPattern.attributes.kill_chain_phases"
                                        selected="true">
                                        {{kill_chain_phase.phase_name}}
                                    </md-chip>
                                </md-chip-list>
                            </div>
                        </div>
                           <div class="row">
                                <div class="col-md-12">
                                    <label>External References</label>
                                    <md-chip-list>
                                        <md-chip *ngFor="let externalReferences of attackPattern.attributes.external_references"
                                            selected="true">
                                            {{externalReferences.source_name}}
                                        </md-chip>
                                    </md-chip-list>
                                </div>
                            </div>
                </md-card-content>
            </md-card>
        </div>
    </div>

    <relationship-list *ngIf="attackPattern.id" [model]="attackPattern"></relationship-list>
      <div class="pull-right grey-text">{{attackPattern.id}}</div>
