<br><br><table class="table table-hover" style="border: 1px solid grey">
    <thead>
        <tr>
            <td><h3>Name</h3></td>
            <td><h3>Tactics</h3></td>
            <td><h3>Technical Description</h3></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let attackPattern of attackPatterns; let i = index">
            <td><a routerLink="/stix/attack-patterns/{{attackPatterns[i].id}}">{{attackPatterns[i].attributes.name}}</a></td>
            <td><span *ngFor="let phase of attackPatterns[i].attributes.kill_chain_phases">
                    <a routerLink="/stix/tactics/{{phase.phase_name}}">{{phase.phase_name | capitalize}}<br><br></a>
                </span>
            </td>
            <td>{{attackPatterns[i].attributes.description}}</td>
            <!--<td><a href={{citation.url}}>{{citation.url}}</a></td>-->
        </tr>
    </tbody>
</table>
